
@{
    Layout = null;
}

<div class="lot-rule">
    <h3>Saytın sadə qaydaları</h3>
    <ul>
        <li>Eyni elanı bir neçə dəfə təqdim etməyin</li>
        <li>Təsvir və ya şəkillərdə telefon, email və ya sayt ünvanı göstərməyin.</li>
        <li>Ad yerində qiymət yazmayın - bunun üçün ayrıca yer var.</li>
        <li>Qadağan olunmuş məhsulları satmayın.</li>
    </ul>
    <a asp-area="" asp-action="roles" asp-controller="home">Saytın tam qaydaları</a>
</div>
