body {
background: #f1f1f1;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
height: 100vh;
}
	body .container #login-row #login-column .login-box {
		margin-bottom: 30px;
	}
	body .container #login-row #login-column .login-box form .btn.btn-primary {
		width: 100%;
		background: #012f3f none repeat scroll 0 0;
		border-color: #012f3f;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		padding: 0;
	}

	body .container #login-row #login-column .login-box form .forgot {
		font-size: 14px;
		display: inline-block;
		float: left;
		margin-bottom: 30px;
	}
	body .container #login-row #login-column .login-box form .forgot a {
		color: #337ab7;
	}
		body .container #login-row #login-column .login-box form .forgot a:hover {
			color: #23527c;
		}
	body .container #login-row #login-column .login-box form .register {
		font-size: 14px;
		float: right;
		margin-bottom: 30px;
	}
