@model ViewPage
@{
    ViewData["Title"] = "Foods";
}

<!-- Content start -->
<div class="content">
    <!-- Auto Search bar start -->
    <section class="QuickSearch">
        <form asp-area="" asp-action="index" asp-controller="jobs">
            <fieldset class="searchItemsRow">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <div class="searchCategory">
                            <div class="select-dropdown">
                                <button role="button" data-value="" class="select-dropdown__button searchCategoryBtn Categoryoverlapp">
                                    <span class="Categoryoverlapp">Ərzaq</span><i class="fas fa-angle-down Categoryoverlapp"></i>
                                </button>
                                <ul class="select-dropdown__list searchCategoryList">
                                    <text>Nəqliyyat</text>
                                    <li data-value="1" data-selector="select" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="cars" asp-controller="transport">
                                            Avtomobillər
                                        </a>
                                    </li>
                                    <li data-value="1" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="buses" asp-controller="transport">
                                            Avtobus və
                                            xüsusi
                                            texnika
                                        </a>
                                    </li>
                                    <li data-value="2" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="motocycles" asp-controller="transport">
                                            Motosikletlər
                                            və
                                            mopedlər
                                        </a>
                                    </li>
                                    <li data-value="3" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="accessories" asp-controller="transport">
                                            Ehtiyat
                                            hissələri və
                                            aksesuarlar
                                        </a>
                                    </li>
                                    <text>Daşınmaz əmlak</text>
                                    <li data-value="1" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="apartments" asp-controller="real-estate">
                                            Mənziller
                                        </a>
                                    </li>
                                    <li data-value="1" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="houses-villas" asp-controller="real-estate">
                                            Villalar, bağ evləri
                                        </a>
                                    </li>
                                    <li data-value="2" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="commercials" asp-controller="real-estate">
                                            Obyektlər və ofislər
                                        </a>
                                    </li>
                                    <li data-value="2" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="garages" asp-controller="real-estate">
                                            Qarajlar
                                        </a>
                                    </li>
                                    <li data-value="3" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="lands" asp-controller="real-estate">
                                            Torpaq
                                        </a>
                                    </li>
                                    <text>İş və biznes</text>
                                    <li data-value="1" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="jobs" asp-controller="jobs">
                                            İş
                                        </a>
                                    </li>
                                    <li data-value="1" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="business" asp-controller="jobs">
                                            Biznes üçün avadanlıq
                                        </a>
                                    </li>
                                    <li data-value="2" class="select-dropdown__list-item">
                                        <a asp-area="" asp-action="foods" asp-controller="jobs">
                                            Ərzaq
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="searchName">
                            <input type="text" asp-for="Name" placeholder="Məsələn, iPhone 7">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="labelCheck">
                            <select asp-for="CityId">
                                <option value="0" selected>Butun Azerbaycan</option>
                                @if (Model.Cities != null)
                                {
                                    foreach (var city in Model.Cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                }
                            </select>
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <div class="searchPrice">
                            <span>
                                Qiymət, AZN
                            </span>
                            <div class="minMax">
                                <input type="text" asp-for="SPrice" placeholder="min.">
                                <span>-</span>
                                <input type="text" asp-for="BPrice" placeholder="max.">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-8">
                        <div class="searchBtn">
                            <button type="submit">Tap<i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </section>
    <!-- Auto Search bar end -->
    @if (Model.ViewAnnouncesVip.Count() != 0)
    {
        <section class="allAnnounce">

            <div class="pageSubHeader">
                <h2><span>Vip</span> Elanlar</h2>
                @if (Model.ViewAnnouncesVip.Count() > 2)
                {
                    <a class="float-right mr-5 my-4" asp-area="" asp-controller="jobs" asp-action="type-all" asp-all-route-data='new Dictionary<string, string>() { {"page","0" },{"count","16" },{"typeAnnounce","vip" } }'>Bütün Vip elanlar</a>
                }
            </div>
            <div class="announceProduct ">
                @await Html.PartialAsync("~/Views/Shared/Partial/_AnnouncePartial.cshtml", Model.ViewAnnouncesVip)

            </div>
        </section>

    }

    @if (Model.LastAnnounces.Count() != 0)
    {
        <section class="allAnnounce">
            <div class="pageSubHeader">
                <h2><span>Son</span> Elanlar</h2>
            </div>
            <div class="announceProduct simple-announces">
                @await Html.PartialAsync("~/Views/Shared/Partial/_AnnouncePartial.cshtml", Model.LastAnnounces)
            </div>
        </section>
    }
</div>
<!-- Content end -->

@section Scripts{


    <script>
        var hasMoreRecords = true;
        var page = 1;
        var count = 8; // return new 8 records

        if (hasMoreRecords) {
            $(function () {
                $(window).scroll(function () {
                    if ($(window).scrollTop() > ($(document).height() - $(window).height()) - 370) {
                        FetchDataFromServer();
                        page++;
                    }
                });
            });
        }
        var name;
        var cityId;
        var sPrice;
        var bPrice;
        var reTypeId;
        var typeId;
        function dataAdd() {
            name = $("#Name").val();
            cityId = $("#CityId").val();
            sPrice = $("#SPrice").val();
            bPrice = $("#BPrice").val();
        }
        dataAdd();
        function FetchDataFromServer() {
            if (!hasMoreRecords) {
                return;
            }
            debugger
            $.ajax({
                url: "/all/transportajax/simple-food",
                data: {
                    page: page, count: count,
                    cityId: cityId,
                    name: name,
                    CityId: cityId,
                    sPrice: sPrice, bPrice: bPrice,
                },
                datatype: 'json',
                success: function (data) {
                    if (data === "stop" || data.count < 8) {
                        hasMoreRecords = false; // signal no more records to display
                    }
                    else {
                        console.log(page);
                        $(".simple-announces").append(data);
                        // update for next iteration
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        }
    </script>
}