
@{
    Layout = null;
}

<div class="confirm-roles">
    <span>Elan yerləşdirərək, siz Tap.az-ın <a asp-area="" asp-action="user-agreement" asp-controller="home">İstifadəçi razılaşması</a> ilə razı olduğunuzu təsdiq edirsiniz.</span>
</div>