@{
	Layout = "/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Car";
}
<div class="container-fluid">

	<!-- Breadcrumbs-->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="index.html">Əsas səhifə</a>
		</li>
		<li class="breadcrumb-item active">Avtomobil</li>
	</ol>

	<!-- DataTables Example -->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i>
			Elanlar
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Pin kod</th>
							<th>Dərc olunmuş elanın adı</th>
							<th>Dərc olunma tarixi</th>
							<th>Əməliyyat</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Pin kod</th>
							<th>Dərc olunmuş elanın adı</th>
							<th>Dərc olunma tarixi</th>
							<th>Əməliyyat</th>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
						<tr>
							<td>100000</td>
							<td>Lada</td>
							<td>22 Yanvar 2019</td>
							<td>
								<button type="button" class="btn btn-success"><i class="far fa-edit"></i></button>
								<button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
								<button type="button" class="btn btn-primary"><i class="fab fa-readme"></i></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

